wsdl/AquaMapsService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="AquaMapsService"
	targetNamespace="http://gcube-system.org/namespaces/application/aquamaps/aquamapsservice"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://gcube-system.org/namespaces/application/aquamaps/aquamapsservice"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor"
	xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd"
	xmlns:coretypes="http://gcube-system.org/namespaces/common/core/types"
	xmlns:corefaults="http://gcube-system.org/namespaces/common/core/faults"
	xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl"
	xmlns:provider="http://gcube-system.org/namespaces/common/core/porttypes/GCUBEProvider"
	xmlns:aqtypes="http://gcube-system.org/namespaces/application/aquamaps/types">

	<import namespace="http://gcube-system.org/namespaces/common/core/faults"
		location="../gcube/common/core/faults/GCUBEFaults.wsdl" />

	<types>
		<xsd:schema
			targetNamespace="http://gcube-system.org/namespaces/application/aquamaps/aquamapsservice"
			xmlns:tns="http://gcube-system.org/namespaces/application/aquamaps/aquamapsservice">
			<xsd:import namespace="http://gcube-system.org/namespaces/common/core/types"
				schemaLocation="../gcube/common/core/types/GCUBETypes.xsd" />
			<xsd:import
				namespace="http://gcube-system.org/namespaces/application/aquamaps/types"
				schemaLocation="AquaMapsTypes.xsd" />
			-
			<xsd:import
				namespace="http://gcube-system.org/namespaces/application/aquamaps/gistypes"
				schemaLocation="GISTypes.xsd" />


			<!-- SPECIES -->

			<xsd:complexType name="getPhylogenyRequestType">
				<xsd:sequence>
					<xsd:element name="fieldList" type="aqtypes:fieldArray" />
					<xsd:element name="toSelect" type="aqtypes:field" />
					<xsd:element name="pagedRequestSettings" type="aqtypes:pagedRequestSettings" />
					<xsd:element name="format" type="aqtypes:outputFormat"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="getSpeciesByFiltersRequestType">
				<xsd:sequence>
					<xsd:element name="genericSearchFilters" type="aqtypes:filterArray" />
					<xsd:element name="specieficFilters" type="aqtypes:filterArray" />
					<xsd:element name="pagedRequestSettings" type="aqtypes:pagedRequestSettings" />
					<xsd:element name="hspen" type="xsd:int" />
					<xsd:element name="format" type="aqtypes:outputFormat" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- ENVELOPE -->
			
			<xsd:complexType name="getSpeciesEnvelopeRequestType">
				<xsd:sequence>
					<xsd:element name="speciesId" type="xsd:string" />
					<xsd:element name="hspenId" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="calculateEnvelopeRequestType">
				<xsd:sequence>
					<xsd:element name="speciesID" type="xsd:string" />
					<xsd:element name="FaoAreas" type="xsd:string" />
					<xsd:element name="BoundingNorth" type="xsd:double" />
					<xsd:element name="BoundingSouth" type="xsd:double" />
					<xsd:element name="BoundingEast" type="xsd:double" />
					<xsd:element name="BoundingWest" type="xsd:double" />
					<xsd:element name="useFAO" type="xsd:boolean" />
					<xsd:element name="useBounding" type="xsd:boolean" />
					<xsd:element name="useBottomSeaTempAndSalinity" type="xsd:boolean" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="calculateEnvelopefromCellSelectionRequestType">
				<xsd:sequence>
					<xsd:element name="speciesID" type="xsd:string" />
					<xsd:element name="cellIds" type="coretypes:stringArray" />
				</xsd:sequence>
			</xsd:complexType>


			<!-- MAPS -->

			<xsd:complexType name="generateMapRequestType">
				<xsd:sequence>
					<xsd:element name="author" type="xsd:string" />
					<xsd:element name="hspecId" type="xsd:int" />					
					<xsd:element name="enableGis" type="xsd:boolean"/>
					<xsd:element name="selection" type="aqtypes:customizationArray"/>
				</xsd:sequence>
			</xsd:complexType>

			<!-- Request / Response elements -->


			<!-- SPECIES -->

			<xsd:element name="getPhylogenyRequest" type="tns:getPhylogenyRequestType" />
			<xsd:element name="getPhylogenyResponse" type="xsd:string" />

			<xsd:element name="getSpeciesByFiltersRequest" type="tns:getSpeciesByFiltersRequestType" />
			<xsd:element name="getSpeciesByFiltersResponse" type="xsd:string" />

			<!-- ENVELOPE -->

			<xsd:element name="getSpeciesEnvelopeRequest" type="tns:getSpeciesEnvelopeRequestType" />
			<xsd:element name="getSpeciesEnvelopeResponse" type="aqtypes:fieldArray" />

			<xsd:element name="calculateEnvelopeRequest" type="tns:calculateEnvelopeRequestType" />
			<xsd:element name="calculateEnvelopeResponse" type="aqtypes:fieldArray" />

			<xsd:element name="calculateEnvelopefromCellSelectionRequest"
				type="tns:calculateEnvelopefromCellSelectionRequestType" />
			<xsd:element name="calculateEnvelopefromCellSelectionResponse"
				type="aqtypes:fieldArray" />

			<!-- MAPS -->

			<xsd:element name="generateMapRequest" type="tns:generateMapRequestType" />
			<xsd:element name="generateMapResponse" type="xsd:int" />

			<xsd:element name="loadSubmittedByIdRequest" type="xsd:int" />
			<xsd:element name="loadSubmittedByIdResponse" type="aqtypes:submitted" />

			<xsd:element name="loadMapBySubmittedIdRequest" type="xsd:int" />
			<xsd:element name="loadMapBySubmittedIdResponse" type="aqtypes:map" />

			<xsd:element name="markSavedRequest" type="coretypes:stringArray" />
			<xsd:element name="markSavedResponse" type="xsd:integer" />

		</xsd:schema>
	</types>

	<!-- SPECIES -->

	<message name="GetPhylogenyRequest">
		<part name="request" element="tns:getPhylogenyRequest" />
	</message>
	<message name="GetPhylogenyResponse">
		<part name="response" element="tns:getPhylogenyResponse" />
	</message>

	<message name="GetSpeciesByFiltersRequest">
		<part name="request" element="tns:getSpeciesByFiltersRequest" />
	</message>
	<message name="GetSpeciesByFiltersResponse">
		<part name="response" element="tns:getSpeciesByFiltersResponse" />
	</message>

	<!-- ENVELOPE -->

	<message name="GetSpeciesEnvelopeRequest">
		<part name="request" element="tns:getSpeciesEnvelopeRequest" />
	</message>
	<message name="GetSpeciesEnvelopeResponse">
		<part name="response" element="tns:getSpeciesEnvelopeResponse" />
	</message>

	<message name="CalculateEnvelopeRequest">
		<part name="request" element="tns:calculateEnvelopeRequest" />
	</message>
	<message name="CalculateEnvelopeResponse">
		<part name="response" element="tns:calculateEnvelopeResponse" />
	</message>

	<message name="CalculateEnvelopefromCellSelectionRequest">
		<part name="request" element="tns:calculateEnvelopefromCellSelectionRequest" />
	</message>
	<message name="CalculateEnvelopefromCellSelectionResponse">
		<part name="response" element="tns:calculateEnvelopefromCellSelectionResponse" />
	</message>

	<!-- MAPS -->

	<message name="GenerateMapRequest">
		<part name="request" element="tns:generateMapRequest" />
	</message>
	<message name="GenerateMapResponse">
		<part name="response" element="tns:generateMapResponse" />
	</message>

	<message name="LoadSubmittedByIdRequest">
		<part name="request" element="tns:loadSubmittedByIdRequest" />
	</message>
	<message name="LoadSubmittedByIdResponse">
		<part name="response" element="tns:loadSubmittedByIdResponse" />
	</message>

	<message name="LoadMapBySubmittedIdRequest">
		<part name="request" element="tns:loadMapBySubmittedIdRequest" />
	</message>
	<message name="LoadMapBySubmittedIdResponse">
		<part name="response" element="tns:loadMapBySubmittedIdResponse" />
	</message>

	<message name="MarkSavedRequest">
		<wsdl:part name="request" element="tns:markSavedRequest" />
	</message>
	<message name="MarkSavedResponse">
		<wsdl:part name="response" element="tns:markSavedResponse" />
	</message>



	<portType name="AquaMapsServicePortType">

		<!-- Species -->

		<wsdl:operation name="GetPhylogeny">
			<input message="tns:GetPhylogenyRequest" />
			<output message="tns:GetPhylogenyResponse" />
			<fault name="fault" message="corefaults:GCUBEFaultMessage"></fault>
		</wsdl:operation>

		<wsdl:operation name="GetSpeciesByFilters">
			<input message="tns:GetSpeciesByFiltersRequest" />
			<output message="tns:GetSpeciesByFiltersResponse" />
			<fault name="fault" message="corefaults:GCUBEFaultMessage"></fault>
		</wsdl:operation>

		<!-- ENVELOPE -->

		<wsdl:operation name="GetSpeciesEnvelope">
			<input message="tns:GetSpeciesEnvelopeRequest" />
			<output message="tns:GetSpeciesEnvelopeResponse" />
			<fault name="fault" message="corefaults:GCUBEFaultMessage"></fault>
		</wsdl:operation>

		<wsdl:operation name="CalculateEnvelope">
			<input message="tns:CalculateEnvelopeRequest" />
			<output message="tns:CalculateEnvelopeResponse" />
			<fault name="fault" message="corefaults:GCUBEFaultMessage"></fault>
		</wsdl:operation>

		<wsdl:operation name="CalculateEnvelopefromCellSelection">
			<input message="tns:CalculateEnvelopefromCellSelectionRequest" />
			<output message="tns:CalculateEnvelopefromCellSelectionResponse" />
			<fault name="fault" message="corefaults:GCUBEFaultMessage"></fault>
		</wsdl:operation>

		<!-- Maps generation -->

		<wsdl:operation name="GenerateMap">
			<input message="tns:GenerateMapRequest" />
			<output message="tns:GenerateMapResponse" />
			<fault name="fault" message="corefaults:GCUBEFaultMessage"></fault>
		</wsdl:operation>

		<wsdl:operation name="LoadSubmittedById">
			<input message="tns:LoadSubmittedByIdRequest" />
			<output message="tns:LoadSubmittedByIdResponse" />
			<fault name="fault" message="corefaults:GCUBEFaultMessage"></fault>
		</wsdl:operation>

		<wsdl:operation name="LoadMapBySubmittedId">
			<input message="tns:LoadMapBySubmittedIdRequest" />
			<output message="tns:LoadMapBySubmittedIdResponse" />
			<fault name="fault" message="corefaults:GCUBEFaultMessage"></fault>
		</wsdl:operation>

		<wsdl:operation name="MarkSaved">
			<input message="tns:MarkSavedRequest" />
			<output message="tns:MarkSavedResponse" />
			<fault name="fault" message="corefaults:GCUBEFaultMessage"></fault>
		</wsdl:operation>

	</portType>

</definitions>