wsdl/DataManagement.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="DataManagement"
	targetNamespace="http://gcube-system.org/namespaces/application/aquamaps/datamanagement"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://gcube-system.org/namespaces/application/aquamaps/datamanagement"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor"
	xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd"
	xmlns:coretypes="http://gcube-system.org/namespaces/common/core/types"
	xmlns:corefaults="http://gcube-system.org/namespaces/common/core/faults"
	xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl"
	xmlns:provider="http://gcube-system.org/namespaces/common/core/porttypes/GCUBEProvider"
	xmlns:aqtypes="http://gcube-system.org/namespaces/application/aquamaps/types">

	<import namespace="http://gcube-system.org/namespaces/common/core/faults"
		location="../gcube/common/core/faults/GCUBEFaults.wsdl" />

	<types>
		<xsd:schema
			targetNamespace="http://gcube-system.org/namespaces/application/aquamaps/datamanagement"
			xmlns:tns="http://gcube-system.org/namespaces/application/aquamaps/datamanagement">
			<xsd:import namespace="http://gcube-system.org/namespaces/common/core/types"
				schemaLocation="../gcube/common/core/types/GCUBETypes.xsd" />
			<xsd:import
				namespace="http://gcube-system.org/namespaces/application/aquamaps/types"
				schemaLocation="AquaMapsTypes.xsd" />
			<xsd:import
				namespace="http://gcube-system.org/namespaces/application/aquamaps/gistypes"
				schemaLocation="GISTypes.xsd" />

			<!-- DataManagement portType request types -->

			<!-- ENUMS -->

			


			<!-- DATA TYPES -->
			<xsd:complexType name="exportCSVSettings">
				<xsd:sequence>
					<xsd:element name="encoding" type="xsd:string"
						minOccurs="1" maxOccurs="1" />
					<xsd:element name="delimiter" type="aqtypes:character"
						minOccurs="1" maxOccurs="1" />
					<xsd:element name="hasHeader" type="xsd:boolean"
						minOccurs="1" maxOccurs="1" />
					<xsd:element name="fieldsMask" type="xsd:boolean"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>

			
			

			<!-- BATCH PROCESSES -->


			<xsd:complexType name="generateMapsRequestType">
				<xsd:sequence>
					<xsd:element name="author" type="xsd:string" />
					<xsd:element name="HSPECId" type="xsd:int" />
					<xsd:element name="generateLayers" type="xsd:boolean" />
					<xsd:element name="speciesFilter" type="aqtypes:fieldArray" />
					<xsd:element name="forceRegeneration" type="xsd:boolean" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="deleteRequestType">
				<xsd:sequence>
					<xsd:element  name="author" type="xsd:string" />
					<xsd:element  name="id" type="xsd:string" />
					<xsd:element  name="deleteData" type="xsd:boolean" />
					<xsd:element  name="deleteRelated" type="xsd:boolean" />
					<xsd:element  name="toDeleteType" type="aqtypes:deleteType"/>
				</xsd:sequence>
			</xsd:complexType>


			<!-- STATISTICAL SUPPORT -->

			<xsd:complexType name="submitBatchProcessRequestType">
				<xsd:sequence>
					<xsd:element name="author" type="xsd:string"/>
					<xsd:element name="title" type="xsd:string"/>
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="algorithm" type="xsd:string"/>
					<xsd:element name="algorithmDescription" type="xsd:string"/>
					<xsd:element name="algorithmCategory" type="xsd:string"/>
					<xsd:element name="parameters" type="coretypes:stringMap"/>
				</xsd:sequence>
			</xsd:complexType>

			<!-- RESOURCES -->

			<xsd:complexType name="importResourceRequestType">
				<xsd:sequence>
					<xsd:element name="rsLocator" type="xsd:string"
						minOccurs="1" maxOccurs="1" />
					<xsd:element name="csvSettings" type="tns:exportCSVSettings" />
					<xsd:element name="user" type="xsd:string" />
					<xsd:element name="resourceType" type="aqtypes:tableTemplate" />
				</xsd:sequence>
			</xsd:complexType>

			<!-- INSPECTOR -->

			<xsd:complexType name="setUserCustomQueryRequestType">
				<xsd:sequence>
					<xsd:element name="user" type="xsd:string" />
					<xsd:element name="queryString" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>


			<xsd:complexType name="customQueryDescriptorStubs">
				<xsd:sequence>
					<xsd:element name="user" type="xsd:string" />
					<xsd:element name="rows" type="xsd:long" />
					<xsd:element name="fields" type="aqtypes:fieldArray" />
					<xsd:element name="status" type="aqtypes:status" />
					<xsd:element name="errorMsg" type="xsd:string" />
					<xsd:element name="actualTableName" type="xsd:string" />
					<xsd:element name="query" type="xsd:string" />
					<xsd:element name="creationTime" type="xsd:long"/>
					<xsd:element name="lastAccess" type="xsd:long"/>
				</xsd:sequence>
			</xsd:complexType>

			<!-- EXPORT -->

			<xsd:complexType name="exportTableRequestType">
				<xsd:sequence>
					<xsd:element name="tableName" type="xsd:string"/>
					<xsd:element name="csvSettings" type="tns:exportCSVSettings"/>
					<xsd:element name="format" type="aqtypes:outputFormat"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="exportTableStatusType">
				<xsd:sequence>					
					<xsd:element name="tableName" type="xsd:string"/>
					<xsd:element name="csvSettings" type="tns:exportCSVSettings"/>
					<xsd:element name="rsLocator" type="xsd:string"/>
					<xsd:element name="status" type="aqtypes:status"/>
					<xsd:element name="errors" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>


			<!-- JSON -->
			
			<xsd:complexType name="JSONRequestType">
				<xsd:sequence>
					<xsd:element name="settings" type="aqtypes:pagedRequestSettings"/>
					<xsd:element name="viewCategory" type="aqtypes:jsonView"/>
					<xsd:element name="filters" type="aqtypes:fieldArray"/>
				</xsd:sequence>
			</xsd:complexType>

			<!-- Data management request elements -->

			<!-- BATCH PROCESSES -->
			
			<xsd:element name="generateMapsRequest" type="tns:generateMapsRequestType" />
			<xsd:element name="generateMapsResponse" type="xsd:string" />
			
			<xsd:element name="deleteRequest" type="tns:deleteRequestType" />
			<xsd:element name="deleteResponse" type="xsd:string" />

				<!-- STATISTICAL SUPPORT -->
			
			<xsd:element name="submitBatchProcessRequest" type="tns:submitBatchProcessRequestType" />
			<xsd:element name="submitBatchProcessResponse" type="xsd:string" />

						

			<!-- RESOURCES -->
			
			<xsd:element name="getResourceByIdRequest" type="xsd:int" />
			<xsd:element name="getResourceByIdResponse" type="aqtypes:resource" />

			<xsd:element name="getDefaultSourcesRequest" type="coretypes:VOID" />
			<xsd:element name="getDefaultSourcesResponse" type="aqtypes:fieldArray" />

			<xsd:element name="editResourceRequest" type="aqtypes:resource" />
			<xsd:element name="editResourceResponse" type="aqtypes:resource" />

			<xsd:element name="importResourceRequest" type="tns:importResourceRequestType" />
			<xsd:element name="importResourceResponse" type="xsd:int" />
			
			
			<!-- INSPECTOR -->

			<xsd:element name="setCustomQueryRequest" type="tns:setUserCustomQueryRequestType" />
			<xsd:element name="setCustomQueryResponse" type="xsd:string" />

			<xsd:element name="getCustomQueryDescriptorRequest" type="xsd:string" />
			<xsd:element name="getCustomQueryDescriptorResponse" type="tns:customQueryDescriptorStubs" />


			<!-- EXPORT -->

			<xsd:element name="exportTableAsCSVRequest" type="tns:exportTableRequestType" />
			<xsd:element name="exportTableAsCSVResponse" type="xsd:string" />

			<xsd:element name="getExportStatusRequest" type="xsd:string" />
			<xsd:element name="getExportStatusResponse" type="tns:exportTableStatusType" />


			<!-- JSON -->
			
			<xsd:element name="jSONViewRequest" type="tns:JSONRequestType" />
			<xsd:element name="jSONViewResponse" type="xsd:string" />

		</xsd:schema>
	</types>


	<!--  BATCH PROCESSES -->
	
	<message name="GenerateMapsRequest">
		<part name="request" element="tns:generateMapsRequest" />
	</message>
	<message name="GenerateMapsResponse">
		<part name="response" element="tns:generateMapsResponse" />
	</message>

	<message name="DeleteRequest">
		<part name="request" element="tns:deleteRequest" />
	</message>
	<message name="DeleteResponse">
		<part name="response" element="tns:deleteResponse" />
	</message>

			<!-- STATISTICAL SUPPORT -->

	<message name="SubmitBatchProcessRequest">
		<part name="request" element="tns:submitBatchProcessRequest" />
	</message>
	<message name="SubmitBatchProcessResponse">
		<part name="response" element="tns:submitBatchProcessResponse" />
	</message>

	
	<!-- RESOURCES -->

	<message name="GetResourceByIdRequest">
		<part name="request" element="tns:getResourceByIdRequest" />
	</message>
	<message name="GetResourceByIdResponse">
		<part name="response" element="tns:getResourceByIdResponse" />
	</message>

	<message name="GetDefaultSourcesRequest">
		<part name="request" element="tns:getDefaultSourcesRequest" />
	</message>
	<message name="GetDefaultSourcesResponse">
		<part name="response" element="tns:getDefaultSourcesResponse" />
	</message>

	<message name="EditResourceRequest">
		<part name="request" element="tns:editResourceRequest" />
	</message>
	<message name="EditResourceResponse">
		<part name="response" element="tns:editResourceResponse" />
	</message>

	<message name="ImportResourceRequest">
		<part name="request" element="tns:importResourceRequest" />
	</message>
	<message name="ImportResourceResponse">
		<part name="response" element="tns:importResourceResponse" />
	</message>


	<!-- INSPECTOR -->

	<message name="SetCustomQueryRequest">
		<part name="request" element="tns:setCustomQueryRequest" />
	</message>
	<message name="SetCustomQueryResponse">
		<part name="response" element="tns:setCustomQueryResponse" />
	</message>

	<message name="GetCustomQueryDescriptorRequest">
		<part name="request" element="tns:getCustomQueryDescriptorRequest" />
	</message>
	<message name="GetCustomQueryDescriptorResponse">
		<part name="response" element="tns:getCustomQueryDescriptorResponse" />
	</message>


	<!-- EXPORT -->

	<message name="ExportTableAsCSVRequest">
		<part name="request" element="tns:exportTableAsCSVRequest" />
	</message>
	<message name="ExportTableAsCSVResponse">
		<part name="response" element="tns:exportTableAsCSVResponse" />
	</message>
	
	<message name="GetExportStatusRequest">
		<part name="request" element="tns:getExportStatusRequest" />
	</message>
	<message name="GetExportStatusResponse">
		<part name="response" element="tns:getExportStatusResponse" />
	</message>



	<!-- JSON -->
	
	<message name="JSONViewRequest">
		<part name="request" element="tns:jSONViewRequest" />
	</message>
	<message name="JSONViewResponse">
		<part name="response" element="tns:jSONViewResponse" />
	</message>

	<portType name="DataManagementPortType">

		<!--  BATCH PROCESSES -->

		<wsdl:operation name="GenerateMaps">
			<wsdl:input message="tns:GenerateMapsRequest" />
			<wsdl:output message="tns:GenerateMapsResponse" />
			<wsdl:fault name="fault" message="corefaults:GCUBEFaultMessage" />
		</wsdl:operation>
		
		<wsdl:operation name="Delete">
			<wsdl:input message="tns:DeleteRequest" />
			<wsdl:output message="tns:DeleteResponse" />
			<wsdl:fault name="fault" message="corefaults:GCUBEFaultMessage" />
		</wsdl:operation>		
		
		
				<!-- STATISTICAL SUPPORT -->
				
		<wsdl:operation name="SubmitBatchProcess">
			<wsdl:input message="tns:SubmitBatchProcessRequest" />
			<wsdl:output message="tns:SubmitBatchProcessResponse" />
			<wsdl:fault name="fault" message="corefaults:GCUBEFaultMessage" />
		</wsdl:operation>

		
		<!-- RESOURCES -->

		<wsdl:operation name="GetResourceById">
			<input message="tns:GetResourceByIdRequest" />
			<output message="tns:GetResourceByIdResponse" />
			<fault name="fault" message="corefaults:GCUBEFaultMessage"></fault>
		</wsdl:operation>
		<wsdl:operation name="GetDefaultSources">
			<wsdl:input message="tns:GetDefaultSourcesRequest" />
			<wsdl:output message="tns:GetDefaultSourcesResponse" />
			<wsdl:fault name="fault" message="corefaults:GCUBEFaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="EditResource">
			<wsdl:input message="tns:EditResourceRequest" />
			<wsdl:output message="tns:EditResourceResponse" />
			<wsdl:fault name="fault" message="corefaults:GCUBEFaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="ImportResource">
			<wsdl:input message="tns:ImportResourceRequest" />
			<wsdl:output message="tns:ImportResourceResponse" />
			<wsdl:fault name="fault" message="corefaults:GCUBEFaultMessage" />
		</wsdl:operation>
		
		<!-- INSPECTOR -->

		<wsdl:operation name="SetCustomQuery">
			<wsdl:input message="tns:SetCustomQueryRequest" />
			<wsdl:output message="tns:SetCustomQueryResponse" />
			<wsdl:fault name="fault" message="corefaults:GCUBEFaultMessage" />
		</wsdl:operation>		
		<wsdl:operation name="GetCustomQueryDescriptor">
			<wsdl:input message="tns:GetCustomQueryDescriptorRequest" />
			<wsdl:output message="tns:GetCustomQueryDescriptorResponse" />
			<wsdl:fault name="fault" message="corefaults:GCUBEFaultMessage" />
		</wsdl:operation>


		<!--  EXPORT -->


		<wsdl:operation name="ExportTableAsCSV">
			<wsdl:input message="tns:ExportTableAsCSVRequest" />
			<wsdl:output message="tns:ExportTableAsCSVResponse" />
			<wsdl:fault name="fault" message="corefaults:GCUBEFaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetExportStatus">
			<wsdl:input message="tns:GetExportStatusRequest" />
			<wsdl:output message="tns:GetExportStatusResponse" />
			<wsdl:fault name="fault" message="corefaults:GCUBEFaultMessage" />
		</wsdl:operation>

		
		<!-- JSON -->
		
		<wsdl:operation name="JSONView">
			<wsdl:input message="tns:JSONViewRequest" />
			<wsdl:output message="tns:JSONViewResponse" />
			<wsdl:fault name="fault" message="corefaults:GCUBEFaultMessage" />
		</wsdl:operation>
	</portType>
</definitions>