schema/AquaMaps.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="AquaMaps"
	targetNamespace="http://gcube-system.org/namespaces/application/aquamaps"
	xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://gcube-system.org/namespaces/application/aquamaps"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor"
	xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd"
	xmlns:coretypes="http://gcube-system.org/namespaces/common/core/types"
	xmlns:corefaults="http://gcube-system.org/namespaces/common/core/faults"
	xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl"
	xmlns:provider="http://gcube-system.org/namespaces/common/core/porttypes/GCUBEProvider">

	<import namespace="http://gcube-system.org/namespaces/common/core/faults"
		location="../gcube/common/core/faults/GCUBEFaults.wsdl" />

	<types>
		<xsd:schema targetNamespace="http://gcube-system.org/namespaces/application/aquamaps"
			xmlns:tns="http://gcube-system.org/namespaces/application/aquamaps">
			<xsd:import namespace="http://gcube-system.org/namespaces/common/core/types"
				schemaLocation="../gcube/common/core/types/GCUBETypes.xsd" />

			<xsd:complexType name="perturbation">
				<xsd:sequence>
					<xsd:element name="type" type="xsd:string" />
					<xsd:element name="field" type="xsd:string" />
					<xsd:element name="toPerturbId" type="xsd:string" />
					<xsd:element name="value" type="xsd:float" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="weight">
				<xsd:sequence>
					<xsd:element name="parameterName" type="xsd:string" />
					<xsd:element name="chosenWeight" type="xsd:float" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="customization">
				<xsd:sequence>
					<xsd:element name="code" type="xsd:string" />
					<xsd:element name="perturbationList" type="tns:perturbation"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>


			<xsd:complexType name="field">
				<xsd:sequence>
					<xsd:element name="type" type="xsd:string" />
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="value" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="filter">
				<xsd:sequence>
					<xsd:element name="type" type="xsd:string" />
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="value" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="resource">
				<xsd:sequence>
					<xsd:element name="additionalField" type="tns:fieldArray" />
					<xsd:element name="type" type="xsd:string" />
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="id" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="area">
				<xsd:sequence>
					<xsd:element name="additionalField" type="tns:fieldArray" />
					<xsd:element name="type" type="xsd:string" />
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="code" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>


			<xsd:complexType name="cell">
				<xsd:sequence>
					<xsd:element name="additionalField" type="tns:fieldArray" />
					<xsd:element name="code" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="specie">
				<xsd:sequence>
					<xsd:element name="additionalField" type="tns:fieldArray" />
					<xsd:element name="id" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="AquaMap">
				<xsd:sequence>					
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="author" type="xsd:string"/>
					<xsd:element name="date" type="xsd:string"/>
					<xsd:element name="creator" type="xsd:string"/>
					<xsd:element name="source" type="xsd:string"/>
					<xsd:element name="publisher" type="xsd:string"/>
					<xsd:element name="id" type="xsd:string"/>
					<xsd:element name="type" type="xsd:string"/>
					<xsd:element name="selectedSpecies" type="tns:speciesArray"/>
					<xsd:element name="relatedResources" type="tns:stringArray"/>
					<xsd:element name="envelopCustomization" type="tns:perturbationArray"/>
					<xsd:element name="selectedAreas" type="tns:areasArray"/>
					<xsd:element name="excludedCells" type="tns:cellArray"/>
					<xsd:element name="environmentCustomization" type="tns:perturbationArray"/>
					<xsd:element name="threshold" type="xsd:float"/>
					<xsd:element name="weights" type="tns:weightArray"/>	
					<xsd:element name="status" type="xsd:string"/>				
				</xsd:sequence>
			</xsd:complexType>


			<xsd:complexType name ="job">
			<xsd:sequence>
				<xsd:element name="name" type="xsd:string"/>
				<xsd:element name="id" type="xsd:string"/>
				<xsd:element name="aquaMapList" type="tns:aquaMapArray"/>
				<xsd:element name="status" type="xsd:string"/>
				<xsd:element name="hspec" type="tns:resource"/>
				<xsd:element name="hspen" type="tns:resource"/>
				<xsd:element name="hcaf" type="tns:resource"/>
				<xsd:element name="selectedSpecies" type="tns:speciesArray"/>
				<xsd:element name="envelopCustomization" type="tns:perturbationArray"/>
				<xsd:element name="selectedAreas" type="tns:areasArray"/>
					<xsd:element name="excludedCells" type="tns:cellArray"/>
					<xsd:element name="environmentCustomization" type="tns:perturbationArray"/>					
					<xsd:element name="weights" type="tns:weightArray"/>
					<xsd:element name="author" type="xsd:string"/>
					<xsd:element name="date" type="xsd:string"/>
					<xsd:element name="relatedResources" type="tns:stringArray"/>					
			</xsd:sequence>
			</xsd:complexType>
			
			<!-- Arrays -->
			<xsd:complexType name="aquaMapArray">
				<xsd:sequence>
					<xsd:element name="aquaMapList" type="tns:AquaMap"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="stringArray">
				<xsd:sequence>
					<xsd:element name="stringList" type="xsd:string"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="perturbationArray">
				<xsd:sequence>
					<xsd:element name="perturbationList" type="tns:perturbation"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="customizationArray">
				<xsd:sequence>
					<xsd:element name="customizationList" type="tns:customization"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="cellArray">
				<xsd:sequence>
					<xsd:element name="cellList" type="tns:cell" minOccurs="0"
						maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="weightArray">
				<xsd:sequence>
					<xsd:element name="weightList" type="tns:weight"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="speciesArray">
				<xsd:sequence>
					<xsd:element name="speciesList" type="tns:specie"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="filterArray">
				<xsd:sequence>
					<xsd:element name="filterList" type="tns:filter"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="areasArray">
				<xsd:sequence>
					<xsd:element name="areasList" type="tns:area"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="resourceArray">
				<xsd:sequence>
					<xsd:element name="resourceList" type="tns:resource"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="fieldArray">
				<xsd:sequence>
					<xsd:element name="fields" type="tns:field" minOccurs="0"
						maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>

			<!-- Request / Response Types-->


			<xsd:complexType name="getPhylogenyRequestType">
				<xsd:sequence>
					<xsd:element name="fieldList" type="tns:fieldArray" />
				</xsd:sequence>
			</xsd:complexType>

 			<xsd:complexType name="getSpeciesRequestType">
				<xsd:sequence>
					<xsd:element name="fieldList" type="tns:fieldArray" />
					<xsd:element name="limit" type="xsd:int" />
					<xsd:element name="offset" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="searchBy2FiltersRequestType">
				<xsd:sequence>
					<xsd:element name="filter1" type="tns:filter" />
					<xsd:element name="filter2" type="tns:filter" />
					<xsd:element name="limit" type="xsd:int" />
					<xsd:element name="offset" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
			
				<xsd:complexType name="searchByFilterRequestType">
					<xsd:sequence>
						<xsd:element name="filter" type="tns:filter" />
						<xsd:element name="limit" type="xsd:int" />
						<xsd:element name="offset" type="xsd:int" />
					</xsd:sequence>
				</xsd:complexType>
			
				<xsd:complexType name="getSpeciesByFiltersRequestType">
					<xsd:sequence>
						<xsd:element name="filterList" type="tns:filterArray" />
						<xsd:element name="limit" type="xsd:int" />
						<xsd:element name="offset" type="xsd:int" />
					</xsd:sequence>
				</xsd:complexType>
				
				<xsd:complexType name="getResourceListRequestType">
					<xsd:sequence>
						<xsd:element name="type" type="xsd:string" />
						<xsd:element name="user" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
				
			
			<xsd:complexType name="generateMapRequestType">
				<xsd:sequence>
					<xsd:element name="hspec" type="tns:resource" />
					<xsd:element name="algorithmWeights" type="tns:weightArray" />
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="author" type="xsd:string" />
					<xsd:element name="selectionCriteria" type="xsd:string" />
					<xsd:element name="data" type="xsd:string" />
					<xsd:element name="areas" type="tns:areasArray" />
					<xsd:element name="species" type="tns:speciesArray" />
					<xsd:element name="areasCustomization" type="tns:customizationArray" />
					<xsd:element name="speciesCustomization" type="tns:customizationArray" />
					<xsd:element name="cellExclusion" type="tns:cellArray" />
					<xsd:element name="threshold" type="xsd:float" />
					<xsd:element name="generateDistributions" type="xsd:boolean" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="getSpeciesByAreaRequestType">
				<xsd:sequence>
					<xsd:element name="type" type="xsd:string" />
					<xsd:element name="code" type="xsd:string" />
					<xsd:element name="threshold" type="xsd:float" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="getSelectedCellsRequestType">
				<xsd:sequence>
					<xsd:element name="areas" type="tns:areasArray" />
					<xsd:element name="limit" type="xsd:int" />
					<xsd:element name="offset" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
				
			<!-- Request / Response elements -->

			<xsd:element name="submitJobRequest" type="tns:job"/>
			<xsd:element name="submitJobResponse" type="xsd:string"/>

			<xsd:element name="getPhylogenyRequest" type="tns:getPhylogenyRequestType" />

			<xsd:element name="getPhylogenyResponse" type="xsd:string" />

			<xsd:element name="getSpeciesRequest" type="tns:getSpeciesRequestType" />

			<xsd:element name="getSpeciesResponse" type="xsd:string" />

			<xsd:element name="searchBy2FiltersRequest" type="tns:searchBy2FiltersRequestType"/>
			<xsd:element name="searchBy2FiltersResponse" type="xsd:string" />

				<xsd:element name="searchByFilterRequest" type="tns:searchByFilterRequestType" />
				<xsd:element name="searchByFilterResponse" type="xsd:string" />


				<xsd:element name="getSpeciesByFiltersRequest" type="tns:getSpeciesByFiltersRequestType" />

				<xsd:element name="getSpeciesByFiltersResponse" type="xsd:string" />



				
			

			<xsd:element name="getResourceListRequest" type="tns:getResourceListRequestType" />

			<xsd:element name="getResourceListResponse" type="tns:resourceArray" />


			<xsd:element name="getResourceInfoRequest" type="tns:resource" />

			<xsd:element name="getResourceInfoResponse" type="tns:resource" />



			

			<xsd:element name="generateMapRequest" type="tns:generateMapRequestType" />
			<xsd:element name="generateMapResponse" type="coretypes:VOID" />
			<xsd:element name="generateMapFromFileRequest" type="xsd:string" />
			<xsd:element name="generateMapFromFileResponse" type="coretypes:VOID" />



			


			<xsd:element name="getSpeciesByAreaRequest" type="tns:getSpeciesByAreaRequestType" />
			<xsd:element name="getSpeciesByAreaResponse" type="xsd:string" />

			<xsd:element name="getSpeciesEnvelopRequest" type="xsd:string" />
			<xsd:element name="getSpeciesEnvelopResponse" type="tns:fieldArray" />
			<xsd:element name="getCellEnvironmentRequest" type="xsd:string" />
			<xsd:element name="getCellEnvironmentResponse" type="tns:fieldArray" />


			

			<xsd:element name="getSelectedCellsRequest" type="tns:getSelectedCellsRequestType" />
			<xsd:element name="getSelectedCellsResponse" type="xsd:string" />


		</xsd:schema>
	</types>

	<!-- message part -->
	<message name="SubmitJobRequest">
	<part name="request" element="tns:submitJobRequest"/>
	</message>
	<message name="SubmitJobResponse">
	<part name="response" element="tns:submitJobResponse"/>
	</message>

	<message name="GetSelectedCellsRequest">
		<part name="request" element="tns:getSelectedCellsRequest" />
	</message>
	<message name="GetSelectedCellsResponse">
		<part name="response" element="tns:getSelectedCellsResponse" />
	</message>

	<message name="GetSpeciesEnvelopRequest">
		<part name="request" element="tns:getSpeciesEnvelopRequest" />
	</message>
	<message name="GetSpeciesEnvelopResponse">
		<part name="response" element="tns:getSpeciesEnvelopResponse" />
	</message>
	<message name="GetCellEnvironmentRequest">
		<part name="request" element="tns:getCellEnvironmentRequest" />
	</message>
	<message name="GetCellEnvironmentResponse">
		<part name="response" element="tns:getCellEnvironmentResponse" />
	</message>

	<message name="GetSpeciesByAreaRequest">
		<part name="request" element="tns:getSpeciesByAreaRequest" />
	</message>
	<message name="GetSpeciesByAreaResponse">
		<part name="response" element="tns:getSpeciesByAreaResponse" />
	</message>
	<message name="GetSpeciesByFiltersRequest">
		<part name="request" element="tns:getSpeciesByFiltersRequest" />
	</message>
	<message name="GetSpeciesByFiltersResponse">
		<part name="response" element="tns:getSpeciesByFiltersResponse" />
	</message>


	<message name="GetPhylogenyRequest">
		<part name="request" element="tns:getPhylogenyRequest" />
	</message>
	<message name="GetPhylogenyResponse">
		<part name="response" element="tns:getPhylogenyResponse" />
	</message>

	<message name="GetSpeciesRequest">
		<part name="request" element="tns:getSpeciesRequest" />
	</message>
	<message name="GetSpeciesResponse">
		<part name="response" element="tns:getSpeciesResponse" />
	</message>

	<message name="SearchBy2FiltersRequest">
		<part name="request" element="tns:searchBy2FiltersRequest" />
	</message>
	<message name="SearchBy2FiltersResponse">
		<part name="response" element="tns:searchBy2FiltersResponse" />
	</message>

	<message name="SearchByFilterRequest">
		<part name="request" element="tns:searchByFilterRequest" />
	</message>
	<message name="SearchByFilterResponse">
		<part name="response" element="tns:searchByFilterResponse" />
	</message>


	<message name="GetResourceListRequest">
		<part name="request" element="tns:getResourceListRequest" />
	</message>
	<message name="GetResourceListResponse">
		<part name="response" element="tns:getResourceListResponse" />
	</message>

	<message name="GetResourceInfoRequest">
		<part name="request" element="tns:getResourceInfoRequest" />
	</message>
	<message name="GetResourceInfoResponse">
		<part name="response" element="tns:getResourceInfoResponse" />
	</message>

	<message name="GenerateMapRequest">
		<part name="request" element="tns:generateMapRequest" />
	</message>
	<message name="GenerateMapResponse">
		<part name="response" element="tns:generateMapResponse" />
	</message>
	<message name="GenerateMapFromFileRequest">
		<part name="request" element="tns:generateMapFromFileRequest" />
	</message>
	<message name="GenerateMapFromFileResponse">
		<part name="response" element="tns:generateMapFromFileResponse" />
	</message>


	<portType name="AquaMapsPortType">

		<!-- operation part -->
		<wsdl:operation name="getSelectedCells">
			<input message="tns:GetSelectedCellsRequest" />
			<output message="tns:GetSelectedCellsResponse" />
			<fault name="fault" message="corefaults:GCUBEFaultMessage"></fault>
		</wsdl:operation>
		
		<wsdl:operation name="submitJob">
			<input message="tns:SubmitJobRequest"/>
			<output message="tns:SubmitJobResponse"/>
			<fault name="fault" message="corefaults:GCUBEFaultMessage"></fault>
		</wsdl:operation>

		<wsdl:operation name="getSpeciesEnvelop">
			<input message="tns:GetSpeciesEnvelopRequest" />
			<output message="tns:GetSpeciesEnvelopResponse" />
			<fault name="fault" message="corefaults:GCUBEFaultMessage"></fault>
		</wsdl:operation>
		<wsdl:operation name="getCellEnvironment">
			<input message="tns:GetCellEnvironmentRequest" />
			<output message="tns:GetCellEnvironmentResponse" />
			<fault name="fault" message="corefaults:GCUBEFaultMessage"></fault>
		</wsdl:operation>

		<wsdl:operation name="getSpeciesByArea">
			<input message="tns:GetSpeciesByAreaRequest" />
			<output message="tns:GetSpeciesByAreaResponse" />
			<fault name="fault" message="corefaults:GCUBEFaultMessage"></fault>
		</wsdl:operation>

		<wsdl:operation name="getSpeciesByFilters">
			<input message="tns:GetSpeciesByFiltersRequest" />
			<output message="tns:GetSpeciesByFiltersResponse" />
			<fault name="fault" message="corefaults:GCUBEFaultMessage"></fault>
		</wsdl:operation>


		<wsdl:operation name="getPhylogeny">
			<input message="tns:GetPhylogenyRequest" />
			<output message="tns:GetPhylogenyResponse" />
			<fault name="fault" message="corefaults:GCUBEFaultMessage"></fault>
		</wsdl:operation>

		<wsdl:operation name="getSpecies">
			<input message="tns:GetSpeciesRequest" />
			<output message="tns:GetSpeciesResponse" />
			<fault name="fault" message="corefaults:GCUBEFaultMessage"></fault>
		</wsdl:operation>

		<wsdl:operation name="searchBy2Filters">
			<input message="tns:SearchBy2FiltersRequest" />
			<output message="tns:SearchBy2FiltersResponse" />
			<fault name="fault" message="corefaults:GCUBEFaultMessage"></fault>
		</wsdl:operation>

		<wsdl:operation name="searchByFilter">
			<input message="tns:SearchByFilterRequest" />
			<output message="tns:SearchByFilterResponse" />
			<fault name="fault" message="corefaults:GCUBEFaultMessage"></fault>
		</wsdl:operation>

		<wsdl:operation name="getResourceList">
			<input message="tns:GetResourceListRequest" />
			<output message="tns:GetResourceListResponse" />
			<fault name="fault" message="corefaults:GCUBEFaultMessage"></fault>
		</wsdl:operation>

		<wsdl:operation name="getResourceInfo">
			<input message="tns:GetResourceInfoRequest" />
			<output message="tns:GetResourceInfoResponse" />
			<fault name="fault" message="corefaults:GCUBEFaultMessage"></fault>
		</wsdl:operation>

		<wsdl:operation name="generateMap">
			<input message="tns:GenerateMapRequest" />
			<output message="tns:GenerateMapResponse" />
			<fault name="fault" message="corefaults:GCUBEFaultMessage"></fault>
		</wsdl:operation>
		<wsdl:operation name="generateMapFromFile">
			<input message="tns:GenerateMapFromFileRequest" />
			<output message="tns:GenerateMapFromFileResponse" />
			<fault name="fault" message="corefaults:GCUBEFaultMessage"></fault>
		</wsdl:operation>
	</portType>

</definitions>