schema/DataManagement.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="DataManagement"
	targetNamespace="http://gcube-system.org/namespaces/application/aquamaps/datamanagement"
	xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://gcube-system.org/namespaces/application/aquamaps/datamanagement"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor"
	xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd"
	xmlns:coretypes="http://gcube-system.org/namespaces/common/core/types"
	xmlns:corefaults="http://gcube-system.org/namespaces/common/core/faults"
	xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl"
	xmlns:provider="http://gcube-system.org/namespaces/common/core/porttypes/GCUBEProvider">

	<import namespace="http://gcube-system.org/namespaces/common/core/faults"
		location="../gcube/common/core/faults/GCUBEFaults.wsdl" />

	<types>
		<xsd:schema targetNamespace="http://gcube-system.org/namespaces/application/aquamaps/datamanagement"
			xmlns:tns="http://gcube-system.org/namespaces/application/aquamaps/datamanagement">
			<xsd:import namespace="http://gcube-system.org/namespaces/common/core/types"
				schemaLocation="../gcube/common/core/types/GCUBETypes.xsd" />

			<!--  DataManagement portType request types -->
			<xsd:complexType name="generateHCAFRequestType">
				<xsd:sequence>
					<xsd:element name="userId" type="xsd:string" />
					<xsd:element name="urls" type="coretypes:stringArray" />
					<xsd:element name="resultingHCAFName" type="xsd:string" />
					<xsd:element name="sourceHCAFId" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="getHCAFgenerationReportRequestType">
				<xsd:sequence>
					<xsd:element name="sortColumn" type="xsd:string" />
					<xsd:element name="sortDirection" type="xsd:string" />
					<xsd:element name="limit" type="xsd:int" />
					<xsd:element name="offset" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
			
			
			<xsd:complexType name="generateHSPECRequestType">
				<xsd:sequence>
					<xsd:element name="userId" 				type="xsd:string" />
					<xsd:element name="generateNative" 		type="xsd:boolean" />
					<xsd:element name="generateSuitable"    type="xsd:boolean"/>
					<xsd:element name="toGeneratePrefix" 	type="xsd:string" />
					<xsd:element name="sourceHCAFId" 		type="xsd:int" />
					<xsd:element name="sourceHSPENId" 		type="xsd:int" />
					<xsd:element name="speciesSelection"    type="coretypes:stringArray"/>
					<xsd:element name="enableLog" 		type="xsd:boolean"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="getGenerationReportByTypeRequestType">
				<xsd:sequence>
					<xsd:element name="sortColumn" type="xsd:string" />
					<xsd:element name="sortDirection" type="xsd:string" />
					<xsd:element name="limit" type="xsd:int" />
					<xsd:element name="offset" type="xsd:int" />
					<xsd:element name="resourceType" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			
			
			<!-- Data management request elements -->

			<xsd:element name="generateHCAFRequest" type="tns:generateHCAFRequestType" />
			<xsd:element name="generateHCAFResponse" type="coretypes:VOID" />

			<xsd:element name="getHCAFGenerationReportRequest"
				type="tns:getHCAFgenerationReportRequestType" />
			<xsd:element name="getHCAFGenerationReportResponse" type="xsd:string" />

			<xsd:element name="generateHSPECRequest" type="tns:generateHSPECRequestType" />
			<xsd:element name="generateHSPECResponse" type="coretypes:VOID" />

			<xsd:element name="getGenerationReportByTypeRequest"
				type="tns:getGenerationReportByTypeRequestType" />
			<xsd:element name="getGenerationReportByTypeResponse" type="xsd:string" />


		</xsd:schema>
	</types>


	<!-- DATA management messages -->

	<message name="GenerateHCAFRequest">
		<part name="request" element="tns:generateHCAFRequest" />
	</message>
	<message name="GenerateHCAFResponse">
		<part name="response" element="tns:generateHCAFResponse" />
	</message>
	<message name="GetHCAFGenerationReportRequest">
		<part name="request" element="tns:getHCAFGenerationReportRequest" />
	</message>
	<message name="GetHCAFGenerationReportResponse">
		<part name="response" element="tns:getHCAFGenerationReportResponse" />
		
		
	</message><message name="GenerateHSPECRequest">
		<part name="request" element="tns:generateHSPECRequest" />
	</message>
	<message name="GenerateHSPECResponse">
		<part name="response" element="tns:generateHSPECResponse" />
	</message>
	<message name="GetGenerationReportByTypeRequest">
		<part name="request" element="tns:getGenerationReportByTypeRequest" />
	</message>
	<message name="GetGenerationReportByTypeResponse">
		<part name="response" element="tns:getGenerationReportByTypeResponse" />
	</message>
	
	<portType name="DataManagementPortType">
		<wsdl:operation name="generateHCAF">
			<wsdl:input message="tns:GenerateHCAFRequest" />
			<wsdl:output message="tns:GenerateHCAFResponse" />
			<wsdl:fault name="fault" message="corefaults:GCUBEFaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="getHCAFGenerationReport">
			<wsdl:input message="tns:GetHCAFGenerationReportRequest" />
			<wsdl:output message="tns:GetHCAFGenerationReportResponse" />
			<wsdl:fault name="fault" message="corefaults:GCUBEFaultMessage" />
		</wsdl:operation>
		
		<wsdl:operation name="generateHSPEC">
			<wsdl:input message="tns:GenerateHSPECRequest" />
			<wsdl:output message="tns:GenerateHSPECResponse" />
			<wsdl:fault name="fault" message="corefaults:GCUBEFaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="getGenerationReportByType">
			<wsdl:input message="tns:GetGenerationReportByTypeRequest" />
			<wsdl:output message="tns:GetGenerationReportByTypeResponse" />
			<wsdl:fault name="fault" message="corefaults:GCUBEFaultMessage" />
		</wsdl:operation>
	</portType>
</definitions>