schema/DataManagement.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="DataManagement"
	targetNamespace="http://gcube-system.org/namespaces/application/aquamaps/aquamapsservice/datamanagement"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://gcube-system.org/namespaces/application/aquamaps/aquamapsservice/datamanagement"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor"
	xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd"
	xmlns:coretypes="http://gcube-system.org/namespaces/common/core/types"
	xmlns:corefaults="http://gcube-system.org/namespaces/common/core/faults"
	xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl"
	xmlns:provider="http://gcube-system.org/namespaces/common/core/porttypes/GCUBEProvider"
	xmlns:aqtypes="http://gcube-system.org/namespaces/application/aquamaps/types">

	<import namespace="http://gcube-system.org/namespaces/common/core/faults"
		location="../gcube/common/core/faults/GCUBEFaults.wsdl" />

	<types>
		<xsd:schema
			targetNamespace="http://gcube-system.org/namespaces/application/aquamaps/aquamapsservice/datamanagement"
			xmlns:tns="http://gcube-system.org/namespaces/application/aquamaps/aquamapsservice/datamanagement">
			<xsd:import namespace="http://gcube-system.org/namespaces/common/core/types"
				schemaLocation="../gcube/common/core/types/GCUBETypes.xsd" />
			<xsd:import
				namespace="http://gcube-system.org/namespaces/application/aquamaps/types"
				schemaLocation="AquaMapsTypes.xsd" />
			<xsd:import namespace="http://gcube-system.org/namespaces/common/gis/types"
				schemaLocation="GISTypes.xsd" />

			<!-- DataManagement portType request types -->

	
		<xsd:complexType name="importResourceRequestType">
			<xsd:sequence>
				<xsd:element name="rsLocator" type="xsd:string"	minOccurs="1" maxOccurs="1" />
				<xsd:element name="encoding" type="xsd:string" minOccurs="1" maxOccurs="1" />
				<xsd:element name="delimiter" type="aqtypes:character"  minOccurs="1" maxOccurs="1" />
				<xsd:element name="hasHeader" type="xsd:boolean" minOccurs="1" maxOccurs="1" />
				<xsd:element name="fieldsMask" type="xsd:boolean" minOccurs="0" maxOccurs="unbounded" />
				<xsd:element name="user" type="xsd:string"/>
				<xsd:element name="resourceType" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
		
			
			
	


			<xsd:complexType name="generateMapsRequestType">
				<xsd:sequence>
					<xsd:element name="author" type="xsd:string" />
					<xsd:element name="HSPECId" type="xsd:int" />
					<xsd:element name="generateLayers" type="xsd:boolean" />
					<xsd:element name="speciesFilter" type="aqtypes:fieldArray" />
					<xsd:element name="forceRegeneration" type="xsd:boolean"/>
				</xsd:sequence>
			</xsd:complexType>


			<xsd:complexType name="hspecGroupGenerationRequestType">
				<xsd:sequence>
					<xsd:element name="author" type="xsd:string" />
					<xsd:element name="generationName" type="xsd:string" />
					<xsd:element name="description" type="xsd:string" />
					<xsd:element name="hspenIds" type="xsd:string"/>
					<xsd:element name="hcafIds" type="xsd:string"/>
					<xsd:element name="executionParameters" type="xsd:string"/>
					<xsd:element name="generationParameters" type="xsd:string"/>
					<xsd:element name="occurrenceCellsIds" type="xsd:string"/>
					<xsd:element name="submissionBackend" type="xsd:string" />
					<xsd:element name="executionEnvironment" type="xsd:string" />
					<xsd:element name="backendUrl" type="xsd:string"/>
					<xsd:element name="environmentConfiguration" type="xsd:string"/>
					<xsd:element name="logic" type="xsd:string"/>
					<xsd:element name="numPartitions" type="xsd:int"/>
					<xsd:element name="algorithms" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="getJSONSubmittedHSPECRequestType">
				<xsd:sequence>
					<xsd:element name="pagedRequestSettings" type="aqtypes:pagedRequestSettings" />
				</xsd:sequence>
			</xsd:complexType>
			

			<xsd:complexType name="getGenerationLiveReportResponseType">
				<xsd:sequence>
					<xsd:element name="percent" type="xsd:double" />
					<xsd:element name="resourceMap" type="xsd:string" />
					<xsd:element name="resourceLoad" type="xsd:string" />
					<xsd:element name="elaboratedSpecies" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="removeHSPECGroupGenerationRequestResponseType">
				<xsd:sequence>
					<xsd:element name="requestId" type="xsd:string" />
					<xsd:element name="removeTables" type="xsd:boolean" />
					<xsd:element name="removeJobs" type="xsd:boolean" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="viewCustomQueryRequestType">
				<xsd:sequence>
					<xsd:element name="user" type="xsd:string"/>
					<xsd:element name="pagedRequestSettings" type="aqtypes:pagedRequestSettings" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="setUserCustomQueryRequestType">
				<xsd:sequence>
					<xsd:element name="user" type="xsd:string"/>
					<xsd:element name="queryString" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="getJSONSubmittedAnalysisRequestType">
				<xsd:sequence>
					<xsd:element name="pagedRequestSettings" type="aqtypes:pagedRequestSettings" />
				</xsd:sequence>
			</xsd:complexType>

			<!-- Data management request elements -->

			

			


			<xsd:element name="generateMapsRequest" type="tns:generateMapsRequestType" />
			<xsd:element name="generateMapsResponse" type="xsd:int" />


			<xsd:element name="hspecGroupGenerationRequest" type="tns:hspecGroupGenerationRequestType" />
			<xsd:element name="hspecGroupGenerationResponse" type="xsd:string" />

			<xsd:element name="getJSONSubmittedHSPECRequest" type="aqtypes:pagedRequestSettings" />
			<xsd:element name="getJSONSubmittedHSPECResponse" type="xsd:string" />

			<xsd:element name="getGenerationLiveReportRequest" type="xsd:int" />
			<xsd:element name="getGenerationLiveReportResponse" type="tns:getGenerationLiveReportResponseType" />

			<xsd:element name="removeHSPECGroupRequest" type="tns:removeHSPECGroupGenerationRequestResponseType" />
			<xsd:element name="removeHSPECGroupResponse" type="tns:removeHSPECGroupGenerationRequestResponseType" />
			
			<xsd:element name="editHSPECGroupDetailsRequest" type="tns:hspecGroupGenerationRequestType" />
			<xsd:element name="editHSPECGroupDetailsResponse" type="coretypes:VOID"/>

			<xsd:element name="getDefaultSourcesRequest" type="coretypes:VOID"/>
			<xsd:element name="getDefaultSourcesResponse" type="aqtypes:fieldArray"/>

			<xsd:element name="editResourceRequest" type="aqtypes:resource"/>
			<xsd:element name="editResourceResponse" type="aqtypes:resource"/>

			<xsd:element name="removeResourceRequest" type="xsd:int"/>
			<xsd:element name="removeResourceResponse" type="coretypes:VOID"/>
				
			<xsd:element name="exportResourceRequest" type="xsd:int"/>
			<xsd:element name="exportResourceResponse" type="xsd:string"/>
			
			<xsd:element name="viewCustomQueryRequest" type="tns:viewCustomQueryRequestType"/>
			<xsd:element name="viewCustomQueryResponse" type="xsd:string"/>
			
			<xsd:element name="setCustomQueryRequest" type="tns:setUserCustomQueryRequestType"/>
			<xsd:element name="setCustomQueryResponse" type="coretypes:VOID"/>
			
			<xsd:element name="deleteCustomQueryRequest" type="xsd:string"/>
			<xsd:element name="deleteCustomQueryResponse" type="xsd:boolean"/>
			
			<xsd:element name="importResourceRequest" type="tns:importResourceRequestType"/>
			<xsd:element name="importResourceResponse" type="xsd:int"/>
			
			<xsd:element name="getImportStatusRequest" type="xsd:int"/>
			<xsd:element name="getImportStatusResponse" type="xsd:int"/>
			
			<xsd:element name="isCustomQueryReadyRequest" type ="xsd:string"/>
			<xsd:element name="isCustomQueryReadyResponse" type ="aqtypes:fieldArray"/>
			
			<xsd:element name="exportTableAsCSVRequest" type="xsd:string"/>
			<xsd:element name="exportTableAsCSVResponse" type="xsd:string" />
			
			<xsd:element name="analyzeTablesRequest" type="aqtypes:analysis"/>
			<xsd:element name="analyzeTablesResponse" type="xsd:string" />
			
			<xsd:element name="getJSONSubmittedAnalysisRequest" type="aqtypes:pagedRequestSettings" />
			<xsd:element name="getJSONSubmittedAnalysisResponse" type="xsd:string" />
			
			<xsd:element name="loadAnalysisRequest" type="xsd:string"/>
			<xsd:element name="loadAnalysisResponse" type="xsd:string"/>
			
			<xsd:element name="resubmitGenerationRequest" type="xsd:string"/>
			<xsd:element name="resubmitGenerationResponse" type="xsd:string"/>
			
			<xsd:element name="exportCustomQueryRequest" type="xsd:string"/>
			<xsd:element name="exportCustomQueryResponse" type="xsd:string"/>
			
			<xsd:element name="deleteAnalysisRequest" type="xsd:string"/>
			<xsd:element name="deleteAnalysisResponse" type="coretypes:VOID"/>
			
		</xsd:schema>
	</types>


	<!-- DATA management messages -->

	

	<message name="GenerateMapsRequest">
		<part name="request" element="tns:generateMapsRequest" />
	</message>
	<message name="GenerateMapsResponse">
		<part name="response" element="tns:generateMapsResponse" />
	</message>


	<message name="HSPECGroupGenerationRequest">
		<part name="request" element="tns:hspecGroupGenerationRequest" />
	</message>
	<message name="HSPECGroupGenerationResponse">
		<part name="response" element="tns:hspecGroupGenerationResponse" />
	</message>


	<message name="GetJSONSubmittedHSPECRequest">
		<part name="request" element="tns:getJSONSubmittedHSPECRequest" />
	</message>
	<message name="GetJSONSubmittedHSPECResponse">
		<part name="response" element="tns:getJSONSubmittedHSPECResponse" />
	</message>

	<message name="GetGenerationLiveReportRequest">
		<part name="request" element="tns:getGenerationLiveReportRequest" />
	</message>
	<message name="GetGenerationLiveReportResponse">
		<part name="response" element="tns:getGenerationLiveReportResponse" />
	</message>

	<message name="RemoveHSPECGroupRequest">
		<part name="request" element="tns:removeHSPECGroupRequest" />
	</message>
	<message name="RemoveHSPECGroupResponse">
		<part name="response" element="tns:removeHSPECGroupResponse" />
	</message>

	<message name="EditHSPECGroupDetailsRequest">
		<part name="request" element="tns:editHSPECGroupDetailsRequest" />
	</message>
	<message name="EditHSPECGroupDetailsResponse">
		<part name="response" element="tns:editHSPECGroupDetailsResponse" />
	</message>

	<message name="GetDefaultSourcesRequest">
		<part name="request" element="tns:getDefaultSourcesRequest" />
	</message>
	<message name="GetDefaultSourcesResponse">
		<part name="response" element="tns:getDefaultSourcesResponse" />
	</message>

	<message name="EditResourceRequest">
		<part name="request" element="tns:editResourceRequest" />
	</message>
	<message name="EditResourceResponse">
		<part name="response" element="tns:editResourceResponse" />
	</message>

	<message name="RemoveResourceRequest">
		<part name="request" element="tns:removeResourceRequest" />
	</message>
	<message name="RemoveResourceResponse">
		<part name="response" element="tns:removeResourceResponse" />
	</message>

	<message name="ExportResourceRequest">
		<part name="request" element="tns:exportResourceRequest" />
	</message>
	<message name="ExportResourceResponse">
		<part name="response" element="tns:exportResourceResponse" />
	</message>

	<message name="ViewCustomQueryRequest">
		<part name="request" element="tns:viewCustomQueryRequest" />
	</message>
	<message name="ViewCustomQueryResponse">
		<part name="response" element="tns:viewCustomQueryResponse" />
	</message>
	<message name="SetCustomQueryRequest">
		<part name="request" element="tns:setCustomQueryRequest" />
	</message>
	<message name="SetCustomQueryResponse">
		<part name="response" element="tns:setCustomQueryResponse" />
	</message>
	<message name="DeleteCustomQueryRequest">
		<part name="request" element="tns:deleteCustomQueryRequest" />
	</message>
	<message name="DeleteCustomQueryResponse">
		<part name="response" element="tns:deleteCustomQueryResponse" />
	</message>


	<message name="ImportResourceRequest">
		<part name="request" element="tns:importResourceRequest" />
	</message>
	<message name="ImportResourceResponse">
		<part name="response" element="tns:importResourceResponse" />
	</message>
	<message name="GetImportStatusRequest">
		<part name="request" element="tns:getImportStatusRequest" />
	</message>
	<message name="GetImportStatusResponse">
		<part name="response" element="tns:getImportStatusResponse" />
	</message>

	<message name="IsCustomQueryReadyRequest">
		<part name="request" element="tns:isCustomQueryReadyRequest" />
	</message>
	<message name="IsCustomQueryReadyResponse">
		<part name="response" element="tns:isCustomQueryReadyResponse" />
	</message>

	<message name="ExportTableAsCSVRequest">
		<part name="request" element="tns:exportTableAsCSVRequest" />
	</message>
	<message name="ExportTableAsCSVResponse">
		<part name="response" element="tns:exportTableAsCSVResponse" />
	</message>



	<message name="AnalyzeTablesRequest">
		<part name="request" element="tns:analyzeTablesRequest" />
	</message>
	<message name="AnalyzeTablesResponse">
		<part name="response" element="tns:analyzeTablesResponse" />
	</message>

	<message name="GetJSONSubmittedAnalysisRequest">
		<part name="request" element="tns:getJSONSubmittedAnalysisRequest" />
	</message>
	<message name="GetJSONSubmittedAnalysisResponse">
		<part name="response" element="tns:getJSONSubmittedAnalysisResponse" />
	</message>
	
	<message name="LoadAnalysisRequest">
		<part name="request" element="tns:loadAnalysisRequest" />
	</message>
	<message name="LoadAnalysisResponse">
		<part name="response" element="tns:loadAnalysisResponse" />
	</message>
	
	<message name="ResubmitGenerationRequest">
		<part name="request" element="tns:resubmitGenerationRequest" />
	</message>
	<message name="ResubmitGenerationResponse">
		<part name="response" element="tns:resubmitGenerationResponse" />
	</message>

<message name="ExportCustomQueryRequest">
		<part name="request" element="tns:exportCustomQueryRequest" />
	</message>
	<message name="ExportCustomQueryResponse">
		<part name="response" element="tns:exportCustomQueryResponse" />
	</message>
	<message name="DeleteAnalysisRequest">
		<part name="request" element="tns:deleteAnalysisRequest" />
	</message>
	<message name="DeleteAnalysisResponse">
		<part name="response" element="tns:deleteAnalysisResponse" />
	</message>


	<portType name="DataManagementPortType">
		
		<wsdl:operation name="generateMaps">
			<wsdl:input message="tns:GenerateMapsRequest" />
			<wsdl:output message="tns:GenerateMapsResponse" />
			<wsdl:fault name="fault" message="corefaults:GCUBEFaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="GenerateHSPECGroup">
			<wsdl:input message="tns:HSPECGroupGenerationRequest" />
			<wsdl:output message="tns:HSPECGroupGenerationResponse" />
			<wsdl:fault name="fault" message="corefaults:GCUBEFaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetJSONSubmittedHSPECGroup">
			<wsdl:input message="tns:GetJSONSubmittedHSPECRequest" />
			<wsdl:output message="tns:GetJSONSubmittedHSPECResponse" />
			<wsdl:fault name="fault" message="corefaults:GCUBEFaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetGenerationLiveReportGroup">
			<wsdl:input message="tns:GetGenerationLiveReportRequest" />
			<wsdl:output message="tns:GetGenerationLiveReportResponse" />
			<wsdl:fault name="fault" message="corefaults:GCUBEFaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="RemoveHSPECGroup">
			<wsdl:input message="tns:RemoveHSPECGroupRequest" />
			<wsdl:output message="tns:RemoveHSPECGroupResponse" />
			<wsdl:fault name="fault" message="corefaults:GCUBEFaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="EditHSPECGroupDetails">
			<wsdl:input message="tns:EditHSPECGroupDetailsRequest" />
			<wsdl:output message="tns:EditHSPECGroupDetailsResponse" />
			<wsdl:fault name="fault" message="corefaults:GCUBEFaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetDefaultSources">
			<wsdl:input message="tns:GetDefaultSourcesRequest" />
			<wsdl:output message="tns:GetDefaultSourcesResponse" />
			<wsdl:fault name="fault" message="corefaults:GCUBEFaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="EditResource">
			<wsdl:input message="tns:EditResourceRequest" />
			<wsdl:output message="tns:EditResourceResponse" />
			<wsdl:fault name="fault" message="corefaults:GCUBEFaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="RemoveResource">
			<wsdl:input message="tns:RemoveResourceRequest" />
			<wsdl:output message="tns:RemoveResourceResponse" />
			<wsdl:fault name="fault" message="corefaults:GCUBEFaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="ExportResource">
			<wsdl:input message="tns:ExportResourceRequest" />
			<wsdl:output message="tns:ExportResourceResponse" />
			<wsdl:fault name="fault" message="corefaults:GCUBEFaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="ViewCustomQuery">
			<wsdl:input message="tns:ViewCustomQueryRequest" />
			<wsdl:output message="tns:ViewCustomQueryResponse" />
			<wsdl:fault name="fault" message="corefaults:GCUBEFaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="SetCustomQuery">
			<wsdl:input message="tns:SetCustomQueryRequest" />
			<wsdl:output message="tns:SetCustomQueryResponse" />
			<wsdl:fault name="fault" message="corefaults:GCUBEFaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="DeleteCustomQuery">
			<wsdl:input message="tns:DeleteCustomQueryRequest" />
			<wsdl:output message="tns:DeleteCustomQueryResponse" />
			<wsdl:fault name="fault" message="corefaults:GCUBEFaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="ImportResource">
			<wsdl:input message="tns:ImportResourceRequest" />
			<wsdl:output message="tns:ImportResourceResponse" />
			<wsdl:fault name="fault" message="corefaults:GCUBEFaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetImportStatus">
			<wsdl:input message="tns:GetImportStatusRequest" />
			<wsdl:output message="tns:GetImportStatusResponse" />
			<wsdl:fault name="fault" message="corefaults:GCUBEFaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="IsCustomQueryReady">
			<wsdl:input message="tns:IsCustomQueryReadyRequest" />
			<wsdl:output message="tns:IsCustomQueryReadyResponse" />
			<wsdl:fault name="fault" message="corefaults:GCUBEFaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="ExportTableAsCSV">
			<wsdl:input message="tns:ExportTableAsCSVRequest" />
			<wsdl:output message="tns:ExportTableAsCSVResponse" />
			<wsdl:fault name="fault" message="corefaults:GCUBEFaultMessage" />
		</wsdl:operation>
		
		<wsdl:operation name="AnalyzeTables">
			<wsdl:input message="tns:AnalyzeTablesRequest" />
			<wsdl:output message="tns:AnalyzeTablesResponse" />
			<wsdl:fault name="fault" message="corefaults:GCUBEFaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetJSONSubmittedAnalysis">
			<wsdl:input message="tns:GetJSONSubmittedAnalysisRequest" />
			<wsdl:output message="tns:GetJSONSubmittedAnalysisResponse" />
			<wsdl:fault name="fault" message="corefaults:GCUBEFaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="LoadAnalysis">
			<wsdl:input message="tns:LoadAnalysisRequest" />
			<wsdl:output message="tns:LoadAnalysisResponse" />
			<wsdl:fault name="fault" message="corefaults:GCUBEFaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="ResubmitGeneration">
			<wsdl:input message="tns:ResubmitGenerationRequest" />
			<wsdl:output message="tns:ResubmitGenerationResponse" />
			<wsdl:fault name="fault" message="corefaults:GCUBEFaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="ExportCustomQuery">
			<wsdl:input message="tns:ExportCustomQueryRequest" />
			<wsdl:output message="tns:ExportCustomQueryResponse" />
			<wsdl:fault name="fault" message="corefaults:GCUBEFaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="DeleteAnalysis">
			<wsdl:input message="tns:DeleteAnalysisRequest" />
			<wsdl:output message="tns:DeleteAnalysisResponse" />
			<wsdl:fault name="fault" message="corefaults:GCUBEFaultMessage" />
		</wsdl:operation>
	</portType>
</definitions>